<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Entra eLearning demo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        function showCode(json) {

            if (document.getElementById("requestCodeContainer").style.display === "") {
                // Hide code
                document.getElementById("requestCodeContainer").style.display = "none";
                document.getElementById("resultCodeContainer").style.display = "none";
            }
            else {
                // Show code
                document.getElementById("requestCodeContainer").style.display = "";

                if (document.getElementById("errorContainer").style.display != "")
                    document.getElementById("resultCodeContainer").style.display = "";
            }
        }

        function renderForm(json) {

            var text = "";
            var i = 0;
            for (let x in json) {
                if (!x.includes("@@")) {
                    i++;
                    text += "\n<div class='form-group row' style='padding-top: 15px'><label for='input" + i + "' class='col-sm-2 col-form-label'>" + x + "</label><div class='col-sm-5'><input type='textbox' class='form-control' id=input" + i + " value='" + json[x] + "'></div></div>";
                }
            }

            document.getElementById("result").innerHTML = text
        }

    </script>

</head>

@{ 
   var currentPage = ViewContext.RouteData.Values["page"].ToString().ToLower();
}

<body>
    

    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-light" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light text-white"
                style="background-color: #1A78D4!important; color: white!important;"><img src="~/AppIcon.png" style="width: 117px; padding-left: 20px;" /></div>
            <div class="list-group list-group-flush">
                <a class='list-group-item list-group-item-action p-3 @(currentPage == "/index" ? "list-group-current" : "")' asp-area="" asp-page="/Index"> <i
                        class="list-group-icon bi me-2 bi-grid-3x3-gap-fill"></i>
                    Courses</a>
                <a class='list-group-item list-group-item-action p-3 @(currentPage == "/me" ? "list-group-current" : "")' asp-area="" asp-page="/Me"> <i
                        class="list-group-icon bi me-2 bi-person-circle"></i>
                    My profile</a>
                <a class='list-group-item list-group-item-action p-3 @(currentPage == "/searchprofile" ? "list-group-current" : "")' asp-area=""
                    asp-page="/SearchProfile"><i class="list-group-icon bi me-2 bi-search"></i>
                    Search profile</a>
                <a class='list-group-item list-group-item-action p-3 @(currentPage == "/profileedit" ? "list-group-current" : "")' asp-area=""
                    asp-page="/ProfileEdit"><i
                        class="list-group-icon bi me-2 bi-person-lines-fill"></i>
                    Edit profile</a>
                <a class='list-group-item list-group-item-action p-3 @(currentPage == "/groups" ? "list-group-current" : "")' asp-area=""
                    asp-page="/Groups"><i class="list-group-icon bi me-2 bi-people-fill"></i>
                    Teams</a>
                <a class='list-group-item list-group-item-action p-3 @(currentPage == "home-index" ? "list-group-current" : "")' href="#!"><i
                        class="list-group-icon bi me-2 bi-cart3"></i>
                    Orders</a>
                <a class='list-group-item list-group-item-action p-3 @(currentPage == "home-index" ? "list-group-current" : "")' href="#!"><i
                        class="list-group-icon bi me-2 bi-calendar-date"></i>
                    Schedule</a>
                <a class='list-group-item list-group-item-action p-3 @(currentPage == "/files" ? "list-group-current" : "")' asp-area=""
                    asp-page="/Files"><i
                        class="list-group-icon bi me-2 bi-graph-up-arrow"></i>
                    Reports</a>
                <a class='list-group-item list-group-item-action p-3 @(currentPage == "/terminal" ? "list-group-current" : "")' asp-area=""
                    asp-page="/Terminal"><i class="list-group-icon bi me-2 bi-megaphone"></i>
                    Send notifications</a>

                <a class='list-group-item list-group-item-action p-3' href="#!"> <i
                        class="list-group-icon bi me-2 bi-wrench"></i>
                    Settings</a>
                @if (ViewData["access_token"] != null)
                {
                    <a class='list-group-item list-group-item-action p-3'
                    href='https://jwt.ms/#access_token=@ViewData["access_token"]'><i
                        class="list-group-icon bi me-2 bi-file-earmark-binary"></i>
                        Access token</a>
                }
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom"
                style="background: #1A78D4!important; margin-left: -1px;">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-page="/Index" style="color: white!important;"><i class="bi me-2 bi-layers-half"></i> 
                        eLearning
                        fictitious app</a>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li style="margin-right: 20px;">
                                <button type="submit" class="btn btn-warning" style="height: 70%; padding: 2px; margin-top: 5px;" onclick="showCode()"><i
                                        class="bi bi-code"></i></button>
                            <li>
                                <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid" id="PageContent" style="background-color: #f8f8f8; padding-left: 35px; padding-right: 35px;">
                @RenderBody()
            </div>
        </div>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>